<footer class="blog-footer">
    <p>Copyright © <a href="http://www.colinfran.com">ColinFran.com</a>.</p>
    <p>
        <a href="/">Back to top</a>
    </p>
</footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/docs.min.js"></script>

</html>
