<% include partials/header %>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>
            Hello,
        </h1>
        My name is Colin Franceschini. I am a computer science major at Sonoma State University.
        I am a (soon-to-be) professional application and website developer. This is my about page.
        Click <a href="http://colinfran.com/">here</a> to head over to my website. If you would also like to check out
        my Github page, click <a href="http://github.com/colinfran">here</a>.
    </div>


    <b>GamerTagGo is a social networking web application that allows video gamers to connect with other.</b>
    </br>This application allows the user to connect with other users by:
    <ul class="fa-ul" >
        <li><i class="fa fa-gamepad"></i>&nbsp;&nbsp;Location of Other Users</li>
        <li><i class="fa fa-gamepad"></i>&nbsp;&nbsp;Favorite Games of Other Users</li>
        <li><i class="fa fa-gamepad"></i>&nbsp;&nbsp;Favorite Genres of Games of Other Users</li>
        <li><i class="fa fa-gamepad"></i>&nbsp;&nbsp;Consoles used by Other Users</li>
    </ul>
    This web application is a knockoff version of the Android App that I built for my CS370 class.
    </br></br>To contact Colin, please submit this email submission form:</br></br>
        <form><b><u>Email Submission Form</u></b><br/><br/>
            <div class="form-group-sm">
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name" /><br />
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name" /><br />
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" /><br />
                    <button id="addBtn" class="btn btn-default" >Send</button><br /><br />
                </div>
            </div>
        </form>
</div>
<% include partials/footer %>