<% include partials/header %>
<div class="container theme-showcase" role="main">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
<% include partials/footer %>