<% include partials/header %>
<div class="container theme-showcase" role="main">

     Welcome to GamerTagGo, Colin Fancesceschini's new social networking website.
     </br></br>
     Click the links in the navigation bar at the top to navigate through the website.
     </br></br>

     <img src="images/logo.png" alt="CS355 Logo"></br>


     </br></br>Click the button below to reveal the special message of the day!</br>
      <button type="button" class="btn btn-default"
              onclick="document.getElementById('demo').innerHTML = 'Today is going to be a great day!'">
        Special Message of the Day</button></br></br>
      <p id="demo"></p>
</div>
<% include ./partials/footer %>