<% include ../partials/header %>
<div class="container theme-showcase" role="main"></br ></br ></br >

    <div class="row">
        <div class="col-md-6">
            <% if(rs.length > 0) { %>
            <table class="table">
                <thead>
                <tr>

                    <th>Game Title</th>
                </tr>
                </thead>
                <% for (var i=0; rs.length > i; i++) { %>
                <tbody>
                <tr>
                    <td><a href="/users/gameUsers/?game_id=<%= rs[i].game_id %>"><%= rs[i].game_title %></a></td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <% } else { %>
            No Users exist.
            <% } %>
            <br/><br/>
        </div>

    </div>
</div>
<% include ../partials/footer %>