<% include ../partials/header %>


<div class="container theme-showcase" role="main">
    <h1>
        <% if(rs.length > 0) { %>
    Full name: <%= rs[0].first_name %>
        <%= rs[0].last_name %>
        </br> Username: <%= rs[0].username %>
        </br> Email: <%= rs[0].email %>
        </br> Location: <%= rs[0].location_name %>
        </br></br>
    </h1>
    <ul><u>Favorite Games</u>
        <% for(var i=0; i < ga.length; i++) {%>
            <ul class="fa-ul">
              <li><i class="fa fa-gamepad"></i>&nbsp;&nbsp;<%= ga[i].game_title %> </li>
                </br>
            </ul>
        </ol>
        <% } %>
    </ul>
    <ul><u>Favorite Genres</u>
        <% for(var i=0; i < ge.length; i++) {%>
        <ul class="fa-ul">
            <li><i class="fa fa-gamepad"></i>&nbsp;&nbsp;<%= ge[i].genre_title %> </li>
            </br>
        </ul>
        </ol>
        <% } %>
    </ul>

    <ul><u>Favorite Consoles</u>
        <% for(var i=0; i < c.length; i++) {%>
        <ul class="fa-ul" >
            <li><i class="fa fa-gamepad"></i>&nbsp;&nbsp;<%= c[i].console_name %></li>
            </br>
        </ul>
        </ol>
        <% } %>
    </ul>
    <% } else { %>
    No user with user id <%= user_id %> has entered gamer information yet.
    <% } %>
</div>
<% include ../partials/footer %>