<% include ../partials/header %>

<!-- .this is an HTML comment -->
<!-- .the <form> html tag tells the browser that you are creating a form
     .the action attribute in <form> is the web page location for where the information will be sent that the user enters
     .the web url in this example is relative, based on the url in the web browser.  In this example the url in the
       should be http://localhost:3000/users/create/

       .when the form is submitted it will send the form information to http://localhost:3000/users/save/
       .if action attribute was /save/, then the information would go to http://localhost:3000/save/
       .if it was save/, then it would go to http://localhost:3000/create/save/
       .if it was an absolute url, like http://google.com/, it would send the information to http://google.com/
       .if the action attribute was an empty string, or wasn't present, the form is submitted back to the same page.
-->
<div class="container theme-showcase" role="main">Add a user to GamerTagGo </br></br>

    <form action="/users/save/">
        <div class="form-group-sm">
            <div class="col-xs-6">
            <% /* .this is an EJS comment */ %>
            <% /* .the <label> tag is for sloppy clickers, so if the click the First Name text it will place their mouse cursor
             in the firstname input text box.  the for attribute must match the input text box it is associated with.
             in the first casse it is firstname.

             .when the <input> tag's type attribute is set to "text" the browser will render an single input text box

             .the <input> tag's id attribute allows you to interact with it using JavaScript.  We will get to that later.

             .the <input tag's name attribute will be the variable name we use to access the value the user enter's
             when it is submitted to the web server.

             .the <br /> (break) tag creates a new line.
             */ %>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"/><br/>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name"/><br/>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name"/><br/>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email"/><br/>
            <!-- .the <input> password type, obscures the letters the user sees when typing in text. Otherwise it functions
                    exactly as the <input> text type -->
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" /><br/>

            <!-- .the <input> type submit, creates a button. If the button is within the <form></form> tags, when it is clicked
                  it will send the form information to the url specified in the action attribute.-->

                <div class="radio"><u>Choose one location:</u></br>
                    <% for( var i = 0; i < rs.length; i++) { %>
                    <input type="radio" name="location" id="location" value="<%= rs[i].location_id %>"><%= rs[i].location_name %><br />
                    <% } %>
                </div>

                <div class="checkbox"><u>Favorite Games:</u></br>
                    <% for( var i = 0; i < rs2.length; i++) { %>
                    <input type="checkbox" name="games" id="games" value="<%= rs2[i].game_id %>"><%= rs2[i].game_title %><br />
                    <% } %>
                </div>

                <div class="checkbox"><u>Favorite Genres:</u></br>
                    <% for( var i = 0; i < rs3.length; i++) { %>
                    <input type="checkbox" name="genre" id="genre" value="<%= rs3[i].genre_id %>"><%= rs3[i].genre_title %><br />
                    <% } %>
                </div>

                <div class="checkbox"><u>Favorite Consoles:</u></br>
                    <% for( var i = 0; i < rs4.length; i++) { %>
                    <input type="checkbox" name="console" id="console" value="<%= rs4[i].console_id %>"><%= rs4[i].console_name %><br />
                    <% } %>
                </div>


            <input type="submit" class="btn btn-default" /><br /><br />
            </div>
        </div>
    </form>
</div>
<% include ../partials/footer %>